@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//Awesome
@import "~font-awesome/scss/font-awesome.scss";
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//slider
@import "./fotorama.css";

.navbar {
    background-color: $primary;
    padding: 0.35rem 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    flex: 1;
}

.search-bar {
    background: #d4d4d4;
}

.breadcrumb {
    background: none;
    padding: 0;
}
